<%- include('../partials/header') %>

<h3>Entries as of <%= time %></h3>

    <ul>
      <% entries.forEach(function(e) { %>
        <li>
            
            <form action="/entries/<%= e.id %>?_method=DELETE" method="POST" class="delete-form">
                <button type="submit">X</button>
            </form>

            <a href="/entries/<%= e.id %>"><%= e.date %> - <%= e.time %> - <%= e.author %></a>

        </li>
      <% }); %>
    </ul>
    <a href="/entries/new">Add Entry</a>

<%- include('../partials/footer') %>